# Copier ce fichier en .env et adapter les valeurs
# Ne jamais committer le .env sur Git !

PORT=3000
MONGO_URI=mongodb://localhost:27017/monprojet

# Pour MongoDB Atlas, remplacer par :
# MONGO_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/monprojet
